/* basicStyle.css */

/* --- BASIS STYLING --- */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    padding-bottom: 30px;
}

/* HEADER */
.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6EA37F;
    height: 55px;
    max-width: 70%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.topbar a {
    flex: 1;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    padding: 0;
    display: block;
    height: 100%;
    line-height: 55px;
    background: none;
}

.topbar a.active {
    background: #006F85;
    border-radius: 10px;
    color: #ffffff;
}

/* SØG STELNUMMER */
.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.search-box {
    width: 480px;
    height: 34px;
    border-radius: 25px;
    border: 1px solid #cfcfcf;
    padding-left: 40px;
    font-size: 14px;
}

/* MIDLERTIDIG TIDSLINJE */
.line {
    width: 100%;
    height: 4px;
    background: #d7d7d7;
    margin: 40px 0;
}

/* --- GRID LAYOUT --- */
.wrapper {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    box-sizing: border-box;
}

/* BOKSE MED FLEX TIL KNAPPER */
.box, .stretched-box {
    background: #EBEDF1;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
    min-height: 170px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stretched-box {
    grid-column: 1 / -1;
}

.box h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
}

/* --- KNAPPER I BOKSE --- */
.box-button {
    align-self: flex-end;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    background-color: #6EA37F;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
}

.box-button:hover {
    background-color: #5a845f;
    transform: translateY(-2px);
}

.box-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
