body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* HEADER */
.topbar {
    display: flex;
    justify-content: center;  /* centrerer indholdet */
    align-items: center;
    background: #6EA37F;      /* topbar baggrund */
    height: 55px;
    gap: 0;

    max-width: 70%;           /* lidt bredere end grid */
    margin: 20px auto 0 auto; /* top margin til white space og centreret */
    border-radius: 10px;
    box-sizing: border-box;
}

.topbar a {
    flex: 1;                  /* links fylder ligeligt */
    text-align: center;        /* centrerer tekst */
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    padding: 0;               /* fjern fast padding, brug flex */
    display: block;
    height: 100%;             /* fylder hele højden af topbar */
    line-height: 55px;        /* vertikal centering */
    background: none;
}

.topbar a.active {
    background: #006F85;      /* aktiv side */
    border-radius: 10px;      /* afrundet aktiv fane */
    color: #ffffff;
}

/* SØG STELNUMMER */
.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.search-box {
    width: 480px;
    height: 34px;
    border-radius: 25px;
    border: 1px solid #cfcfcf;
    padding-left: 40px;
    font-size: 14px;
}

/* MIDLERTIDIG TIDSLINJE */
.line {
    width: 100%;
    height: 4px;
    background: #d7d7d7;
    margin: 40px 0;
}

/* GRID LAYOUT */
.wrapper {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    box-sizing: border-box;
}

.box {
    background: #EBEDF1;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
    min-height: 170px;
    padding: 20px;
}

.box h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
}

.stretched-box {
    background: #EBEDF1;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
    min-height: 170px;
    padding: 20px;
    grid-column: 1 / -1; /* fylder hele rækken */
}
