<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dataregistrering</title>
    <!-- CSS Stylesheet-->
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}">
    <link rel="stylesheet" th:href="@{/css/dataRegistration.css}">

</head>
<body>

<!-- Header som fragment -->
<div th:replace="fragments/headerFragment :: header"></div>

<div class="line"></div>


<!-- Boks GRID -->
<div class="wrapper">
    <div class="box"><h3>Bookinger</h3>
        <a class="box-button" th:href="@{/dataRegistration/bookings}">Se bookinger</a>
    </div>

    <div class="box"><h3>Lejekontrakter</h3>
        <a class="box-button" th:href="@{/dataRegistration/leaseContracts}">Se lejekontrakter</a>
    </div>

    <div class="box"><h3>Købsaftaler</h3>
        <a class="box-button" th:href="@{/dataRegistration/preSales}">Se alle købsaftaler</a>
    </div>

    <div class="box"><h3>Kunder</h3>
        <a class="box-button" th:href="@{/dataRegistration}">Se alle kunder</a>
        <a class="box-button" th:href="@{/dataRegistration}">Se alle lejere</a>
        <a class="box-button" th:href="@{/dataRegistration}">Se alle købere</a>

    </div>

    <div class="box"><h3>Biler</h3>
        <a class="box-button" th:href="@{/dataRegistration/cars}">Se alle biler</a>
        <a class="box-button" th:href="@{/dataRegistration/cars/ready}">Se alle biler klar til udlejning</a>
        <a class="box-button" th:href="@{/dataRegistration/carStatus}">Se biler ud fra status</a>

    </div>
    <div class="box"><h3>Tilstandsrapporter</h3>
        <a class="box-button" th:href="@{/dataRegistration}">Se alle tilstandsrapporter</a>
    </div>
</div>
</body>
</html>
