<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dataregistrering</title>
    <!-- CSS Stylesheet-->
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}">
    <link rel="stylesheet" th:href="@{/css/dataRegistration.css}">

</head>
<body>

<!-- Header som fragment -->
<div th:replace="fragments/headerFragment :: header"></div>

<!-- Søgefelt -->
<div class="search-container">
    <input class="search-box" type="text" placeholder="Indtast stelnummer" />
</div>

<div class="line"></div>

<!-- Boks GRID -->
<div class="wrapper">
    <div class="box"><h3>Bookinger</h3>
        <a class="btn" th:href="@{/dataregistration/bookings}">Se bookinger</a>
    </div>

    <div class="box"><h3>Lejekontrakter</h3>
        <a class="btn" th:href="@{/dataregistration}">Se aktive lejekontakter</a>
        <a class="btn" th:href="@{/dataregistration}">Se alle lejekontrakter</a>
    </div>

    <div class="box"><h3>Købsaftaler</h3>
        <a class="btn" th:href="@{/dataregistration}">Se alle købsaftaler</a>
    </div>

    <div class="box"><h3>Kunder</h3>
        <a class="btn" th:href="@{/dataregistration}">Se alle kunder</a>
        <a class="btn" th:href="@{/dataregistration}">Se alle lejere</a>
        <a class="btn" th:href="@{/dataregistration}">Se alle købere</a>

    </div>

    <div class="box"><h3>Biler</h3>
        <a class="btn" th:href="@{/dataregistration}">Se alle biler</a>

    </div>
    <div class="box"><h3>Tilstandsrapporter</h3>
        <a class="btn" th:href="@{/dataregistration}">Se alle tilstandsrapporter</a>
    </div>
</div>
</body>
</html>
