<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forretningsudvikler</title>
    <!-- CSS Stylesheet-->
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
</head>
<body>

<!-- Header som fragment -->
<div th:replace="fragments/headerFragment :: header"></div>

<!-- Søgefelt -->
<div class="search-container">
    <input class="search-box" type="text" placeholder="Indtast stelnummer" />
</div>

<div class="line"></div>

<!-- Boks GRID -->
<div class="wrapper">
    <div class="box"><h3>Udlejningsstatus</h3>
    <p>Antal udlejede biler lige nu:
        <strong th:text="${dashboard.totalRentedCars}"></strong>
    </p>
    <p>Samlet købsværdi af udlejede biler:
    <strong th:text="${dashboard.totalValueOfRentedCars}"></strong></p>
    </div>
    <div class="box"><h3>Returneringer</h3>
        <p>Planlagte returneringer i dag:
            <strong th:text="${dashboard.totalReturnsToday}"></strong>
        </p>
        <p>Faktiske returneringer i dag:
        <strong th:text="${dashboard.actualReturnsToday}"></strong>
        </p>
    </div>
    <div class="box stretched-box"><h3>Lagerstatus</h3>
    <ul>
        <li>Købte biler:
        <strong th:text="${dashboard.purchasedCars}"></strong></li>
        <li>Ikke klar til udlejning:
        <strong th:text="${dashboard.carsInPreparationForRent}"></strong></li>
        <li>Klar til udlejning:
        <strong th:text="${dashboard.carsReadyForRent}"></strong></li>
        <li>Udlejet:
        <strong th:text="${dashboard.carsRented}"></strong></li>
        <li>Returneret:
        <strong th:text="${dashboard.carsReturned}"></strong></li>
        <li>Ikke klar til salg:
        <strong th:text="${dashboard.carsInPreparationForSale}"></strong></li>
        <li>Klar til salg:
        <strong th:text="${dashboard.carsReadyForSale}"></strong></li>
        <li>Solgt: <strong th:text="${dashboard.carsSold}"></strong></li>
    </ul>
    </div>
    <div class="box"><h3>Økonomi / Salg</h3>
        <p>Antal biler solgt i år: <strong th:text="${dashboard.carsSoldThisYear}"></strong></p>

    </div>

    <div class="box"><h3>Rapporter & Faktura</h3></div>
</div>

</body>
</html>
