<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dataregistrering</title>
    <!-- CSS Stylesheet-->
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
</head>
<body>

<!-- Header som fragment -->
<div th:replace="fragments/headerFragment :: header"></div>

<!-- Søgefelt -->
<div class="search-container">
    <input class="search-box" type="text" placeholder="Indtast stelnummer" />
</div>

<div class="line"></div>

<!-- Boks GRID -->
<div class="wrapper">
    <div class="box"><h3>Database</h3></div>
    <div class="box"><h3>Information</h3></div>
    <div class="box stretched-box"><h3>Klargøring</h3>
        <a class="box-button" th:href="@{/visMere}">Vis mere</a>
    </div>
    <div class="box"><h3>Tilstandsrapport</h3>
        <a class="box-button" th:href="@{/visMere}">Vis mere</a>
    </div>
    <div class="box"><h3>Skaderapport</h3>
        <a class="box-button" th:href="@{/visMere}">Vis mere</a>
    </div>
</div>

</body>
</html>
