<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dataregistrering</title>
    <!-- CSS Stylesheet-->
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
    <link rel="stylesheet" th:href="@{/css/searchbarAndGraphic.css}" />
</head>
<body>

<span class="logo">
    <img th:src="@{'images/bilabonnementLogo.svg'}"
         class="logo-image">
</span>

<!-- Header -->
<div th:replace="~{fragments/headerFragment :: header}"></div>

<!-- Overskrift -->
<span class="title-row">
    <h1>Økonomi</h1>
</span>

<!-- Boks GRID -->
<div class="wrapper">
    <div class="box">
        <h3>Godkend kreditvurdering</h3>
        <a class="box-button" th:href="@{/economy}">Vis mere</a>
    </div>
    <div class="box">
        <h3>Depositum og Fuldt beløb</h3>
        <a class="box-button" th:href="@{/economy}">Registrer betaling</a>
    </div>
    <div class="box stretched-box">
        <h3>Økonomi</h3>
    </div>
</div>

</body>
</html>
