<div th:fragment="header">
    <div class="topbar">
        <a th:href="@{/dataRegistration}"
           th:classappend="${activePage == 'dataRegistration'} ? 'active' : ''">Dataregistrering</a>
        <a th:href="@{/damageDepartment}"
           th:classappend="${activePage == 'damageDepartment'} ? 'active' : ''">Skade/Udbedring</a>
        <a th:href="@{/businessDeveloper}"
           th:classappend="${activePage == 'businessDeveloper'} ? 'active' : ''">Forretningsudvikler</a>
        <a th:href="@{/economy}"
           th:classappend="${activePage == 'economy'} ? 'active' : ''">Økonomi</a>
    </div>
</div>
